.App {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

#root{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
}